@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Common.Constants

<div id="mediaContentModalWindows">

    @using (Ajax.BeginForm("action", "controller", new { area = string.Empty }, new AjaxOptions() { HttpMethod = "POST" }, new { hidden = "hidden", id = "hiddenAjaxPostForm" }))
    {
        @Html.AntiForgeryToken()
    }

    

    <div id="create-media-content">
        <div id="modalMisicWindowMain" class="modal">
            <div class="modal-dialog text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                        <h4><i class="fa fa-upload fa-2x"> Upload</i></h4>
                    </div>
                    <div class="modal-body">
                        @Html.FontAwesomeButton("Choose File", "upload", new { @class = HtmlConstants.MusicChooseUploadClass })
                        @Html.TextBox("File", "", new { name = "File", type = "file", @class = HtmlConstants.MusicInputUploadClass + " display-none" })
                        @Html.FontAwesomeButton("Send", "send", new { data_dismiss = "modal", @class = "col-md-offset-2 btn btn-success " + HtmlConstants.MusicSendUploadClass })
                    </div>
                </div>
            </div>
        </div>

        <div id="modalPictureWindowMain" class="modal">
            <div class="modal-dialog text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                        <h4><i class="fa fa-upload fa-2x"> Upload</i></h4>
                    </div>                   
                    <div class="modal-body">
                        <div>
                            @Html.FontAwesomeButton("Choose File", "upload", new { @class = HtmlConstants.PictureChooseUploadClass })
                            @Html.TextBox("File", "", new { name = "File", type = "file", @class = HtmlConstants.PictureInputUploadClass + " display-none" })
                        </div>
                        <br />
                        <div class="dropdown form-inline">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu_ES_AddCategory" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Category
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu_ES_AddCategory">

                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                            </ul>
                        </div>                        
                    </div>
                    <div class="modal-footer">
                        @Html.FontAwesomeButton("Send", "send", new { data_dismiss = "modal", @class = "col-md-offset-2 btn btn-success " + HtmlConstants.PictureSendUploadClass })
                    </div>
                </div>
            </div>
        </div>

        <div id="modalVideoWindowMain" class="modal">
            <div class="modal-dialog text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                        <h4><i class="fa fa-upload fa-2x"> Upload</i></h4>
                    </div>
                    <div class="modal-body">
                        @Html.FontAwesomeButton("Choose File", "upload", new { @class = HtmlConstants.ViseoChooseUploadClass })
                        @Html.TextBox("File", "", new { name = "File", type = "file", @class = HtmlConstants.ViseoInputUploadClass + " display-none" })
                        @Html.FontAwesomeButton("Send", "send", new { data_dismiss = "modal", @class = "col-md-offset-2 btn btn-success " + HtmlConstants.ViseoSendUploadClass })
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>