@using EntertainmentSystem.Common.Constants

<div id="mediaContentModalWindows">
    <div id="create-media-content">
        <div id="modalMisicWindowMain" class="modal">
            <div class="modal-dialog text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                        <h4><i class="fa fa-upload fa-2x"> Upload @HtmlConstants.MusicName</i></h4>
                    </div>                   
                    @Html.Partial("_UploadMusicPartial")
                </div>
            </div>
        </div>
    </div>

    <div id="modalPictureWindowMain" class="modal">
        <div class="modal-dialog text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                    <h4><i class="fa fa-upload fa-2x"> Upload @HtmlConstants.PictureName</i></h4>
                </div>
                @Html.Partial("_UploadPicturePartial")
            </div>
        </div>
    </div>

    <div id="modalVideoWindowMain" class="modal">
        <div class="modal-dialog text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                    <h4><i class="fa fa-upload fa-2x"> Upload @HtmlConstants.VideoName</i></h4>
                </div>
                @Html.Partial("_UploadVideoPartial")
            </div>
        </div>
    </div>
</div>
