@using EntertainmentSystem.Common.Constants

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Entertainment System</title>
    @Styles.Render("~/Content/tools")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/siteCss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EntertainmentSystem", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_NavigationPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @{ var classBody = string.Empty; }

    @if ((string)ViewContext.RouteData.DataTokens["area"] == GlobalConstants.AdministratorAreaName
                                 || (string)ViewContext.RouteData.DataTokens["area"] == GlobalConstants.ModeratorAreaName)
    {
        classBody = "class=\"body-content\"";
    }
    else
    {
        classBody = "class=\"container body-content\"";
    }

    <div @Html.Raw(@classBody)>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EntertainmentSystem</p>
        </footer>
    </div>    
        
    @Scripts.Render("~/bundles/tools")
    @Scripts.Render("~/bundles/appJs")
    @RenderSection("scripts", required: false)
</body>
</html>
