@using EntertainmentSystem.Common.Constants
@using EntertainmentSystem.Web.Controllers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Entertainment System</title>
    @Styles.Render("~/Content/tools")
    @Styles.Render("~/Content/kendo")
    @Styles.Render("~/Content/siteCss")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div id="es-navbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div id="logo" class="navbar-brand">
                <span class="fa fa-balance-scale"></span>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>           
            <div class="navbar-collapse collapse">
                @Html.Partial("_NavigationPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    @{ var classBody = string.Empty; }

    @if (!((string)ViewContext.RouteData.DataTokens["area"] == GlobalConstants.AdministratorAreaName
                          || (string)ViewContext.RouteData.DataTokens["area"] == GlobalConstants.ModeratorAreaName))
    {
        classBody = "class=\"container\"";
    }

    <div @Html.Raw(@classBody)>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - EntertainmentSystem</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/tools")
    @Scripts.Render("~/bundles/appJs")
    @RenderSection("Scripts", required: false)
</body>
</html>
