@using EntertainmentSystem.Common.Constants

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
    <li>@Html.ActionLink("Forum", "Index", "Forum", new { area = string.Empty }, null)</li>

    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                @GlobalConstants.AreaMediaName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="@GlobalConstants.AreaMediaName">
                <li>
                    @Html.ActionLink("Music", "Index", "Music", new { area = GlobalConstants.AreaMediaName }, null)
                </li>
                <li>
                    @Html.ActionLink("Pictures", "Index", "Picture", new { area = GlobalConstants.AreaMediaName }, null)
                </li>
                <li>
                    @Html.ActionLink("Videos", "Index", "Video", new { area = GlobalConstants.AreaMediaName }, null)
                </li>
            </ul>
        </li>
    }

    @if (Request.IsAuthenticated && User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                @GlobalConstants.AreaAdministrationName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="@GlobalConstants.AreaAdministrationName">
                <li>
                    @Html.ActionLink("Users", "Index", "UsersAdministration", new { area = GlobalConstants.AreaAdministrationName }, null)
                </li>
            </ul>
        </li>
    }

    @if (Request.IsAuthenticated && User.IsInRole(GlobalConstants.ModeratorRoleName))
    {
        <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                @GlobalConstants.AreaModeratorsName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="@GlobalConstants.AreaModeratorsName">
                <li>
                    @Html.ActionLink("Users", "Index", "UsersModeration", new { area = GlobalConstants.AreaModeratorsName }, null)
                </li>
            </ul>
        </li>
    }

</ul>
