@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Common.Constants
@using EntertainmentSystem.Web.Controllers.Upload
@using EntertainmentSystem.Web.ViewModels.Upload
@model PictureUploadViewModel

@using (Ajax.BeginForm<UploadPictureController>(c => c.Create(null), new { area = string.Empty }, null, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div>
            @Html.FontAwesomeButton("Choose File", "upload", new { @class = HtmlConstants.PictureChooseUploadClass })
            @Html.HiddenFor(m => m.File, new { type = "file", @class = HtmlConstants.PictureInputUploadClass + " display-none" })
        </div>
        @Html.ValidationMessageFor(m => m.File, string.Empty, new { @class = "text-danger" })
        <br />
        @Html.EditorFor(m => m.FileInfo)
    </div>
    <div class="modal-footer">
        @Html.FontAwesomeButton("Send", "send", new { @class = "col-md-offset-2 btn btn-success " + HtmlConstants.PictureSendUploadClass })       
        <button type="submit" data-dismiss="modal" class="es-upload-btn display-none"></button>
    </div>
}
