@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers
@using EntertainmentSystem.Common.Constants
@using EntertainmentSystem.Web.Controllers.Upload
@using EntertainmentSystem.Web.ViewModels.Upload
@model MusicUploadViewModel

@using (Html.BeginForm<UploadMusicController>(c => c.Create(null), FormMethod.Post, new { area = string.Empty }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div>
            @Html.FontAwesomeButton("Choose File", "upload", new { @class = HtmlConstants.MusicChooseUploadClass })
            @Html.HiddenFor(m => m.File, new { type = "file", @class = HtmlConstants.MusicInputUploadClass + " hidden" })           
        </div>
        @Html.ValidationMessageFor(m => m.File, string.Empty, new { @class = "text-danger" })
        <br />
        @Html.EditorFor(m => m.FileInfo)
    </div>
    <div class="modal-footer">
        @Html.FontAwesomeButton("Send", "send", new { @class = "col-md-offset-2 btn btn-success " + HtmlConstants.MusicSendUploadClass })
        <button type="submit" data-dismiss="modal" class="es-upload-btn display-none"></button>
    </div>
}


