@using System.Web.Mvc.Expressions
@using EntertainmentSystem.Web.Areas.Media.Controllers.Music
@using EntertainmentSystem.Web.Areas.Media.ViewModels
@model MediaBaseViewModel

<article class="es-card fade-in-animation col-md-3 col-sm-4 col-xs-6">
    <a class="content" href="@(Url.Action<MusicController>(c => c.MusicDetails(@Model.Id)))">
        <div>
            <div class="es-card-image" style="background-image: url(@Model.CoverImageUrl);"></div>
            <div class="es-card-text">
                <p class="es-media-category">@Model.Category</p>
                <p class="es-media-collection">@Model.Collection</p>
                <h2 class="es-media-title">@Model.Title</h2>
                <div class="es-description-container">
                    <p class="es-media-description">@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="es-highlighter"></div>
    </a>    
</article>
