@using EntertainmentSystem.Web.Infrastructure.HtmlHelpers

<div id="create-media-content">
    <div id="modalMisicWindowMain" class="modal">
        <div class="modal-dialog text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                    <h4><i class="fa fa-upload fa-2x"> Upload</i></h4>
                </div>
                <div class="modal-body">
                    @Html.FontAwesomeButton("Choose File", "upload", new { @class = "inputUploadedVoiceBtnSrc" })
                    @Html.TextBox("File", "", new { name = "File", type = "file", @class = "inputUploadedVoiceBtn display-none", @display="none" })
                    @Html.FontAwesomeButton("Send", "send", new { data_dismiss = "modal", @class = "col-md-offset-2 btn btn-success sendUploadedVoiceBtnSrc" })
                </div>
            </div>
        </div>
    </div>

    <div id="modalPictureWindowMain" class="modal">
        <div class="modal-dialog text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                    <h4><i class="fa fa-upload fa-2x"> Upload</i></h4>
                </div>
                <div class="modal-body">
                    @Html.FontAwesomeButton("Choose File", "upload", new { @class = "choosePictureBtn" })
                    @Html.TextBox("File", "", new { name = "File", type = "file", @class = "inputUploadPictureBtn display-none" })
                    @Html.FontAwesomeButton("Send", "send", new { data_dismiss = "modal", @class = "col-md-offset-2 btn btn-success sendUploadPictureBtn" })
                </div>
            </div>
        </div>
    </div>

    <div id="modalVideoWindowMain" class="modal">
        <div class="modal-dialog text-center">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="btn btn-danger pull-right" data-dismiss="modal"><i class="fa fa-times fa-1x"></i></button>
                    <h4><i class="fa fa-upload fa-2x"> Upload</i></h4>
                </div>
                <div class="modal-body">
                    @Html.FontAwesomeButton("Choose File", "upload", new { @class = "inputUploadedVideoBtnSrc" })
                    @Html.TextBox("File", "", new { name = "File", type = "file", @class = "inputUploadedVideoBtn display-none" })
                    @Html.FontAwesomeButton("Send", "send", new { data_dismiss = "modal", @class = "col-md-offset-2 btn btn-success sendUploadedVideoBtnSrc" })
                </div>
            </div>
        </div>
    </div>
</div>
