
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section styles {
    @Styles.Render("~/Content/kendo")
    @RenderSection("styles", required: false)
}*@
<h1 class="text-center">Administration</h1>
@RenderBody()
@*@section scripts {
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", required: false)
}*@