@using Microsoft.AspNet.Identity
@using EntertainmentSystem.Data.Models
@using EntertainmentSystem.Web.Areas.Forum.ViewModels
@model CommentViewModel

@if (Request.IsAuthenticated)
{
    <div class="col-xs-3 forum-vote-detail forum-vote-margin">
        <strong class="es-forum-votes">@Model.Votes</strong>
    </div>
    <div data-vote-value="@VoteType.Positive" data-userId="@User.Identity.GetUserId()" data-forum-model="" data-forum-model-comment="@Model" class="forum-vote-detail-up pointer col-xs-3">
        <strong class="glyphicon glyphicon-thumbs-up forum-vote-detail"></strong>
    </div>
    <div data-vote-value="@VoteType.Negative" data-userId="@User.Identity.GetUserId()" data-forum-model="" data-forum-model-comment="@Model" class="forum-vote-detail-down pointer col-xs-3">
        <strong class="glyphicon glyphicon-thumbs-down forum-vote-detail"></strong>
    </div>
}
else
{
    <div class="forum-vote-detail forum-vote-margin">
        <strong class="es-forum-votes">@Model.Votes</strong>
    </div>
}

