@using EntertainmentSystem.Data.Models
@using EntertainmentSystem.Web.Areas.Forum.ViewModels
@model PostViewModel

@if (Request.IsAuthenticated)
{
    <div class="col-xs-3 forum-vote-detail forum-vote-margin">
        <strong class="es-forum-votes">@Model.Votes</strong>
    </div>
    <div data-vote-value="@VoteType.Positive" data-authorId="@Model.Author.Id" data-forum-model-id="@Model.Id" class="forum-post-vote-detail-up pointer col-xs-3">
        <strong class="glyphicon glyphicon-thumbs-up forum-vote-detail"></strong>
    </div>
    <div data-vote-value="@VoteType.Negative" data-authorId="@Model.Author.Id" data-forum-model-id="@Model.Id" class="forum-post-vote-detail-down pointer col-xs-3">
        <strong class="glyphicon glyphicon-thumbs-down forum-vote-detail"></strong>
    </div>
}
else
{
    <div class="forum-vote-detail forum-vote-margin">
        <strong class="es-forum-votes">@Model.Votes</strong>
    </div>
}
