@using EntertainmentSystem.Web.Areas.Media.ViewModels
@model IEnumerable<MediaBaseViewModel>

@{
    ViewBag.Title = "Videos";
}

<section id="forum-home">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        @foreach (var video in Model)
        {
            <div class="panel panel-default col-sm-3">
                <h4 class="text-center">@video.Title</h4>
                <h5>Category : @video.Category</h5>
                <h5>Collection : @video.Collection</h5>
                <video src="@video.ContentUrl" controls="controls" class="panel panel-default img-responsive"></video>
                <label for="video-description">Description: </label>
                <text id="video-description">@video.Description</text>
                <p>Author: @video.Author</p>
                <p>Created: @video.CreatedOn</p>
            </div>
        }
    </div>
</section>

