@using EntertainmentSystem.Web.Areas.Media.ViewModels
@model MediaDetailsViewModel

<h2>VideoDetails</h2>

<div class="col-xs-12">
    <div class="es-media-details-bg" style="background-image:url(@Model.CoverImageUrl);">
        <div class="es-media-details-bg-gradient"></div>
    </div>
    <div class="es-media-details-play-container">
        <em class="fa fa-play play"></em>
    </div>
    <div class="content flex-row align-top flex-wrap">
        <div class="metadata-container">
            <div class="metadata-padding">
                <div class="es-media-details-cover">
                    <div class="fancybox-outer">
                        <div class="fancybox-inner">
                            <img src="@Model.CoverImageUrl" alt="Cover image">
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        <div class="info-container">
            <div class="info-padding">                
                <h1 class="es-media-details-title">@Model.Title</h1>
                <h3 class="es-media-details-category">@Model.Category</h3>
                <h3 class="es-media-details-collection">@Model.Collection</h3>
                <div class="description-container">
                    <div class="es-media-details-description">
                        <p>@Model.Description</p>
                    </div>
                    <div class="more flex-row justify-center align-center primary-color-hover growing-icon clickable active">
                        <em class="fa fa-angle-down"></em>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>