@using EntertainmentSystem.Web.ViewModels.Media
@model MediaContentViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title)
</div>
<br />
<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.EditorFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
</div>

