@using EntertainmentSystem.Web.ViewModels.Upload
@model UploadFileInfoViewModel

<div class="form-group">
    @Html.LabelFor(m => m.Title)
    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, string.Empty, new { @class = "text-danger" })
    
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Description)
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Description, string.Empty, new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.CategoryId)
    @Html.EditorFor(m => m.CategoryId)
    @Html.ValidationMessageFor(m => m.CategoryId, string.Empty, new { @class = "text-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(m => m.CollectionId)
    @Html.EditorFor(m => m.CollectionId)
    @Html.ValidationMessageFor(m => m.CollectionId, string.Empty, new { @class = "text-danger" })
</div>
