@using EntertainmentSystem.Web.ViewModels.User
@model UserViewModel

<form>
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.EditorFor(m => m.FirstName)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.EditorFor(m => m.LastName)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.ImageUrl)
        @Html.EditorFor(m => m.ImageUrl)
    </div>
</form>
