@using EntertainmentSystem.Web.Controllers.Users
@using EntertainmentSystem.Web.Areas.Forum.ViewModels
@model CommentViewModel

<div id="answers-203370">
    <div class="row" id="forum-post-id">
        <div class="col-xs-12 col-sm-2 forum-vote">
            <div class="well forum-vote-well text-center">
                <div class="forum-vote-detail">
                    <strong id="vote-count-id">@Model.Votes</strong>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="es-forum-post-content">
                <div class="row es-forum-post-row-margin-zero">
                    <p>@Model.Content</p>
                </div>
                <hr class="es-forum-hr-in"/>
                <div class="row es-forum-post-row-margin-zero">
                    <p class="es-forum-post-info-color">
                        <span>posted</span>
                        <time class="es-forum-post-info-data-color">@Model.CreatedOn</time>
                        from @(Html.ActionLink<UsersController>(@Model.Author.UserName, c => c.Index(@Model.Author.Id), null, new { @class = "es-forum-post-info-data-color" }))
                    </p>
                </div>
            </div>
            <hr class="es-forum-hr-in"/>            
        </div>
    </div>
</div>
<hr />