@using EntertainmentSystem.Web.Areas.Media.ViewModels
@model IEnumerable<MediaBaseViewModel>

@{
    ViewBag.Title = "Music";
}

<section id="forum-home">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        @foreach (var music in Model)
        {
            <div class="panel panel-default col-sm-3">
                <h4 class="text-center">@music.Title</h4>
                <h5>Category : @music.Category</h5>
                <h5>Collection : @music.Collection</h5>                
                <label for="music-description">Description: </label>
                <text id="music-description">@music.Description</text>
                <p>Author: @music.Author</p>
                <p>Created: @music.CreatedOn</p>
            </div>
        }
    </div>
</section>
