@using EntertainmentSystem.Web.Areas.Administration.ViewModels
@model AdminUserViewModel

<div class="es-edit-form">
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.AvatarImageUrl)
        @Html.TextBoxFor(m => m.AvatarImageUrl, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AvatarImageUrl)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.IsDeleted)
        @Html.EditorFor(m => m.IsDeleted)
    </div>
</div>