@using EntertainmentSystem.Web.Areas.Administration.ViewModels
@model AdminMediaContentViewModel

<div class="es-edit-form">
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.IsDeleted)
        @Html.EditorFor(m => m.IsDeleted)
    </div>
</div>