@using EntertainmentSystem.Web.Areas.Forum.ViewModels
@model PostHomeViewModel

<div class="row hidden-lg hidden-md hidden-sm forum-well">
    <div class="well text-center pull-left">
        @Model.Votes.Count()
        votes
    </div>
    <div class="well text-center pull-left">
        @Model.Comments.Count()
        answers
    </div>
</div>
<div class="row">
    <div class="col-sm-1 hidden-xs forum-well">
        <div class="well text-center forum-well-inside">
            <div class="row">@Model.Votes.Count()</div>
            <div class="row">votes</div>
        </div>
    </div>
    <div class="col-sm-1 hidden-xs forum-well">
        <div class="well text-center forum-well-inside">
            <div class="row">@Model.Comments.Count()</div>
            <div class="row">answers</div>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12 es-forum-home-post-content">
        <div class="row">
            <h3 style="margin-left: 0">
                <a href="">@Model.Title</a>
            </h3>
        </div>
        <div class="row">
            <p class="es-forum-post-info-color">
                <span>posted</span>
                <time class="es-forum-post-info-data-color">@Model.CreatedOn</time>
                at <a href="/Forum/Category/@Model.Category.Id" class="es-forum-post-info-data-color">@Model.Category.Name</a>
                from <a href="/Users/@Model.Author.Id" class="es-forum-post-info-data-color">@Model.Author.UserName</a>
            </p>
        </div>
        <div class="row">
            @foreach (var tag in Model.Tags)
            {
                // TODO: change hrefs
                <a href="Forum/Tag/@tag.Id" class="label label-default">#@tag.Name</a>
            }
        </div>
    </div>
</div>
<hr />
